
* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}


/*Topo*/

header {
	background-color: #15496c;
}

#logo {
	padding: 30px 0;
}

#menutopo {
	padding-top: 70px;
}

#menutopo ul li {
	display: inline;
}

#menutopo ul li a {
	color: #fff;
	margin: 5px;
}

.abrircontainer {
	text-align: center;
	padding-top: 00px;
}

#abrir, #fecha {
	background: none;
	border: 1px solid #fff;
	border-radius: 3px;
	padding: 15px 20px;
	color: white;
	margin: 10px 0;
	font-size: 20px;
}


/*BANNER*/

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0px;
    background-color: #5ebbfb;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #5ebbfb;
    border-radius: 10px;
}

.carousel-control .fa {
	font-size: 30px;
	opacity: 0.7;
}

.carousel-control .fa-chevron-circle-right, .carousel-control .fa-chevron-circle-left  {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.carousel-caption {
    right: 20%;
    left: 20%;
    top: 15%;
}

.TextoSlider {
	text-align: center;
}

.TextoSlider h3 {
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
	text-shadow: 0 1px 1px #000000;
}

.TextoSlider p {
	max-width: 600px;
	text-align: center;
	margin: 20px auto;
	text-shadow: 0 1px 1px #000000;
}

.TextoSlider a {
	color: #f1c260;
	padding: 10px 20px;
	border: 1px solid #f1c260;
	border-radius: 5px;
	line-height: 50px;
	min-width: 155px;
	background: none;
}

.TextoSlider a:hover {
	color: #fff;
	padding: 10px 20px;
	border: 1px solid #f1c260;
	border-radius: 5px;
	line-height: 50px;
	min-width: 155px;
	background: #f1c260;
}


/*SIGA-NOS*/

#siganos {
	text-align: center;
}

#siganos h2 {
	color: #15496c;
	text-transform: uppercase;
	font-weight: lighter;
	padding-top: 70px;
	font-size: 35px;
}

.textoSiga {
	text-align: center;
	max-width: 750px;
	color: #3c4043;
	padding: 20px 0;
}

#facebook, #twitter {
	text-align: center;
	padding: 20px 0;
}


.facebook-sg a {
	color: #094fa7;
	text-transform: uppercase;
	font-weight: lighter;
	border: 3px solid #094fa7;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px 20px;
	text-decoration: none;
}

.twitter-sg a {
	color: #2094e3;
	text-transform: uppercase;
	font-weight: lighter;
	border: 3px solid #2094e3;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px 20px;
	text-decoration: none;
}

/*NOSSOS SERVIÇOS*/

#nossos_servicos {
	background-color: #d8e4ed;
	padding-bottom: 60px;
}

.servicosTopo {
	padding-top: 50px;
	padding-bottom: 15px;
}

#nossos_servicos h2 {
	text-transform: uppercase;
	font-weight: lighter;
	color: #3c4043;
	margin: 0;
}

.maisservicos {
	text-align: right;
}

.maisservicos p a {
	margin: 0;
	line-height: 40px;
	color: #15496c;
}

.maisservicos i {
	color: #5ebbfb !important;
}

.itemServico {
	position: relative;
	margin-top: 35px;
	margin-bottom: 30px;
}

.imagemServicoHome {
	width: 100%;
	min-height: 350px;
}

.tituloServicoHome {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(94,187,251,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(94,187,251,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(94,187,251,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(94,187,251,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(94,187,251,0.8) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(94,187,251,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#cc5ebbfb',GradientType=0 ); /* IE6-9 */
}

.tituloServicoHome p {
	padding: 20px 15px 15px;
	margin: 0;
}

.tituloServicoHome p a {
	font-weight: bold;
	color: #165f7e;
	font-size: 14px;
	text-transform: uppercase;
}

/*GALERIA DE FOTOS HOME*/

#galeria {
	background-color: #15496c;
	text-align: center;
}

#galeria h2 {
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	padding: 60px 0;
	font-weight: lighter;
	font-size: 26px;
}

.limpaMargin {
	margin: 0;
}

.limpaPadding {
	padding: 0;
}

.fotoloop img {
	width: 100%;
}

.fotoHomegal {
	width: 100%;
	min-height: 250px;
}

.hovergal {
	position:absolute;
    top:0;
    right:0;
    background:rgba(10, 10, 10, 0.30);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#ffe476 !important;
    z-index:2;
    border: 5px solid #ffe476;
}

.zoomGal {
	font-size: 50px;
	position: absolute;
	top: 40%;
	bottom: 0;
	left: 0;
	right: 0;
}

.zoomGal a {
	color: #ffe476 !important;
}

.galfotoHome {
	position: relative;
	width: 100%;
	min-height: 250px;
}

.irgalerias {
	background-color: #fff;
	text-align: center; 
	padding: 50px 0;
}

.irgalerias h4 a {
	font-size: 16px;
	padding: 10px 20px;
	border: 1px solid #15496c;
	border-radius: 5px;
	color: #15496c;
	text-transform: uppercase;
}

/*FOOTER*/

footer {
	background-color: #15496c;
}

.footerConteudo {
	padding: 50px;
	text-align: center;
}

.textoFooter {
	margin: 20px 0 ;

}

.textoFooter p {
	color: #fff;
	font-size: 10px;
	margin: 0px;
}

.assinaturaFooter {

}
.assinaturaFooter p {
	color: #fff;
	font-size: 10px;
	margin: 0px;
}

.footerSubtitulo {
	text-align: left;
	text-transform: uppercase;
}

.footerSubtitulo h5 {
	color: #ffe476;
	font-weight: bold;
	font-size: 16px;
	margin-top: 0;
}

.conteudoSubsessao {
	color: #fff;
	font-size: 11px;
	text-align: left;
}

.conteudoSubsessao i {
	font-size: 30px;
}

.footerIcon {
	text-align: center;
}

.colunasFooter {
	margin: 10px 0;
}

.menufooter {
	text-align: left;
}

.menufooter ul {
	list-style: none;
}

.menufooter ul li a {
	color: #fff;
}

.siganosfooter {
	text-align: left;
}

.siganosfooter ul {
	list-style: none;
}

.siganosfooter ul li a {
	color: #fff;
	padding: 10px 20px;
	border: 1px solid #fff;
	border-radius: 5px;
	line-height: 50px;
	min-width: 155px;
}

/*PÁGINA INTERNA*/

#headerPg {
	background: url(images/header-bg.jpg) no-repeat center top;
	padding: 20px 0;
}

#headerPg h2 {
	color: #fff;
	font-weight: bold;
	text-shadow: 0 1px 0 #000000;
}

#headerPg h5 {
	color: #fff;
	font-weight: bold;
	text-shadow: 0 1px 0 #000000;
}

#headerPg h5 a {
	color: #ffe476;
	font-weight: bold;
	text-shadow: 0 1px 0 #000000;
}

#pgContent {
	padding: 30px 0; 
}

.fotoPG {
	width: 100%;
	min-height: 360px; 
}

.featuresPg h4 {
	color: #165f7e;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}

#pgContent ul {
	margin-left: 0px;
	list-style: none;
    
}

#pgContent ul li {
	line-height: 30px;
}

#pgContent ul li:before {
	content: url('images/list.png'); 
	padding-right:7px;
}

.tituloPg h3 {
	margin-top: 0;
	color: #165f7e;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}

.maisPg {
	text-align: center;
	padding: 20px 0;
}

.maisPg a {
	color: #165f7e;
	padding: 10px 40px;
	border: 1px solid #165f7e;
	border-radius: 5px;
	line-height: 50px;
	min-width: 155px;
}

.contentTitulo h3 {
	color: #165f7e;
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.conteudoSibtitulo p {
	margin-bottom: 0;
	line-height: 20px; 
}


/*PG FOTOS*/

.fotosGaleria{
	padding: 2px;
	margin-bottom: 30px;
}

.fotosGaleria img {
	width: 100%;
}

.galfoto {
	position: relative;
	width: 100%;
	min-height: 350px;
}

.fotoGal {
	width: 100%;
	min-height: 350px;
}

.listadefotos {
	padding: 50px 0;
}

.carousel {
	padding: 0px 0;
	text-align: center;
	margin: 0 auto;
}

#paginacaoPg ul li {
	display: inline;
	padding: 5px 10px;
	border: 1px solid #5ebbfb;
}

#paginacaoPg ul li a{
	color: #5ebbfb;
}


#paginacaoPg ul li:before {
	content: url('none'); 
	padding-right:0px;
}

.numerosPg {
	text-align: center;
}

#paginacaoPg .setas	{
	text-align: center;
}

/*CONTATO*/

.contatoItens, .formularioPG {
	padding-top: 30px;
}

.contatoIcon {
	text-align: center;
}

.contatoIcon i {
	font-size: 25px;
	color: #15496c;
}

.comoch {
	font-weight: bold;
	text-transform: uppercase;
}

.mapa {
	width: 100%;
	min-height: 250px;
}

.form-units {
	width: 100%;
	border: 1px solid #999999;
	padding: 10px;
}

.form-units-button {
	background-color: #fff;
	border: 1px solid #15496c;
	padding: 10px 40px;
	border-radius: 5px;
}

@media screen and (max-width: 1024px){
	.colunasFooter {
    text-align: center;
	}

	#menutopo {
		background: #f1c260;
        padding: 1em;
        margin: 0;
        height: 100%;
        width: 90%;
        max-width: 320px;
        position: fixed;
        z-index: 99;
        top: 0;
        left: -90%;
        transition: left 0.3s ease-out;
	}

	.ativo {
        left: 0% !important;
    }

    #menutopo {
		padding-top: 10px;
	}

	#menutopo ul li {
			display: inherit;
			line-height: 30px;
	}

	#menutopo ul li a {
			color: #15496c;
			margin: 5px;
			font-weight: bold;
			font-size: 18px;
	}

	.abrircontainer {
	text-align: center;
	padding-top: 50px;
	}
}

@media not all and (max-width: 995px) {
    #abrir, #fecha {
        display: none;
    }    
}


@media screen and (max-width: 960px) {
	/*BANNER*/
	.carousel-caption {
	    top: 0%;
	}
	/*SERVICOS*/
	.imagemServicoHome {
	    width: 100%;
	    min-height: 200px;
	}
	/*FOOTER*/
	.footerSubtitulo {
	    text-align: center;
	    text-transform: uppercase;
	}
	.colunasFooter {
    text-align: center;
	}
	.menufooter {
    text-align: center;
	}
	.siganosfooter {
    text-align: center;
	}
	.assinaturaFooter p {
		display: none;
	}
}

@media screen and (max-width: 728px) {
	#logo {
	    text-align: center;
	}
	/*BANNER*/
	.TextoSlider a, .carousel-indicators {
		display: none;
	}
	/*SIGAN-NOS*/
	#facebook, #twitter {margin: 0;}
	#facebook .containerBotao, #twitter .containerBotao {
    	float: none;
    	margin: 5px;
	}
	/*SERVICOS*/
	.servicosTopo, .maisservicos {
	    text-align: center;
	}

}

@media screen and (max-width: 640px) {
	/*BANNER*/
	.TextoSlider {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	/*BANNER*/
	.carousel-control {
		display: none;
	}
	/*GALERIA*/
	.irgalerias h4 a {
	    font-size: 15px;
	}
}

